#carousel {
  margin: 0 auto;
  width: 800px;
  height: 500px;
  border: 2px solid red;
  overflow: hidden; }

img {
  width: 800px;
  height: 500px; }

ul {
  width: 4000px;
  padding: 0;
  margin: 0; }

li {
  list-style-type: none;
  width: 800px;
  height: 500px;
  float: left; }
